<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>IAF | Sarthak Mittal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Connect with Us" />
    <meta name="keywords" content="Startups, Intenships, marketing, Jobs" />
    <meta content="Themesdesign" name="author" />
    <!-- favicon -->
    <link rel="shortcut icon" href="images\_0da7cae7-93d0-4044-b6ff-11fb2d9dff5c (1) copy.ico">
    <!-- magnific pop-up -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
    <!-- css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/Pe-icon-7-stroke.css">
    <!--Slider-->
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.css" />
    <link rel="stylesheet" href="css/owl.transitions.css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo text-uppercase" href="index-1.html">
                <img src="images\International_Alliance_For_Founders-removebg-preview.png" class="logo-light" alt="" height="23">
                <img src="images\International_Alliance_For_Founders-removebg-preview.png" class="logo-dark" alt="" height="23">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                    <li class="nav-item active">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="nav-link">Services</a>
                    </li>
                
                 
                    
                  
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- START HOME -->
    <section class="bg-home-3" id="home">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container particels-slidero">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="home-contact">
                                <h3 class="home-title line-height_1_4">We specialize in developing solutions engineered to propel business growth</h3>
                                <div class="mt-4 pt-3">
                                    <a href="https://forms.gle/WLE9Lt9ZybE4e6sA6" class="btn btn-custom btn-rounded">Hey Sarthak! I want Interns/Employees for My Company (For Businesses)</a>
                                    <!-- <span class="text-uppercase p-3">Or</span>
                                    <a href="http://vimeo.com/99025203" class="video-play-icon-trigger text-white">
                                        <i class="mdi mdi-play play-icon-circle bg-white text-custom play play-icon f-20"></i>
                                    </a> -->

                                </div>
                                <div class="mt-4 pt-3">
                                    <a href="https://forms.gle/csiEGKmhZWfexcYq9" class="btn btn-custom btn-rounded">Hey Sarthak! I need Internship (For Undergraduates) </a>
                                    <!-- <span class="text-uppercase p-3">Or</span>
                                    <a href="http://vimeo.com/99025203" class="video-play-icon-trigger text-white">
                                        <i class="mdi mdi-play play-icon-circle bg-white text-custom play play-icon f-20"></i>
                                    </a> -->

                                </div>
                                <!-- <div class="mt-4 pt-3">
                                    <a href="#services" class="btn btn-custom btn-rounded">Hey Sarthak! I need Jobs (For Graduates) </a>
                                     <span class="text-uppercase p-3">Or</span>
                                    <a href="http://vimeo.com/99025203" class="video-play-icon-trigger text-white">
                                        <i class="mdi mdi-play play-icon-circle bg-white text-custom play play-icon f-20"></i>
                                    </a> -->

                                <!-- </div> -->

                                 
                                <div class="mt-4 pt-3">
                                    <a href="#services" class="btn btn-custom btn-rounded">Hey Sarthak! Help me in my startups </a>
                                    <!-- <span class="text-uppercase p-3">Or</span>
                                    <a href="http://vimeo.com/99025203" class="video-play-icon-trigger text-white">
                                        <i class="mdi mdi-play play-icon-circle bg-white text-custom play play-icon f-20"></i>
                                    </a> -->

                                </div>
                           
                                <div class="mt-4 pt-3">
                                    <a href="https://forms.gle/emubEKoaA4aYsY2Q9" class="btn btn-custom btn-rounded">Hey Sarthak! I need a Job </a>
                                    <!-- <span class="text-uppercase p-3">Or</span>
                                    <a href="http://vimeo.com/99025203" class="video-play-icon-trigger text-white">
                                        <i class="mdi mdi-play play-icon-circle bg-white text-custom play play-icon f-20"></i>
                                    </a> -->

                                </div>
                          
      
                           

                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END HOME -->

    <!-- START SERVICES -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-heading text-center">
                        <h3>Our Services</h3>
                        <div class="title-border"></div>
                        <p class="text-muted" style="font-size: 20px;">I Try to Identify Your Pain Points and Provide You the Appropriate Business Solution</p>

                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-lg-4">
                    <div class="services-box mt-4">
                        <p class="text-muted f-20">01.</p>
                        <div class="mt-4">
                            <div class="services-icon float-left">
                                <i class="pe-7s-notebook"></i>
                            </div>

                            <h5 class="mt-4 pt-2 pl-5 f-18">Mentor Me for a Startup</h5>
                        </div>
                        <p class="text-muted mt-4 mb-0">I have a really strong mentoring skills with me, I can guide you for each and every problem faced by your startup</p>

                    </div>
                </div>

                <div class="col-lg-4">

                    <div class="services-box mt-4">
                        <p class="text-muted f-20">02.</p>
                        <div class="mt-4">
                            <div class="services-icon float-left">
                                <i class="pe-7s-science"></i>
                            </div>

                            <h5 class="mt-4 pt-2 pl-5 f-18">We want Sales/Marketing services</h5>
                        </div>
                        <p class="text-muted mt-4 mb-0">I have power of connections with me, that I can provide you for your business</p>

                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="services-box mt-4">
                        <p class="text-muted f-20">03.</p>
                        <div class="mt-4">
                            <div class="services-icon float-left">
                                <i class="pe-7s-display1"></i>
                            </div>

                            <h5 class="mt-4 pt-2 pl-5 f-18">We want technical advancement in my business</h5>
                        </div>
                        <p class="text-muted mt-4 mb-0">I am person with strong technical background, therefore can solve any of your business problem using Technology </p>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="services-box mt-4">
                        <p class="text-muted f-20">04.</p>
                        <div class="mt-4">
                            <div class="services-icon float-left">
                                <i class="pe-7s-date"></i>
                            </div>

                            <h5 class="mt-4 pt-2 pl-5 f-18">We want Business Development advice</h5>
                        </div>
                        <p class="text-muted mt-4 mb-0">I can give you business development advice, which can take your business to great hights</p>

                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="services-box mt-4">
                        <p class="text-muted f-20">05.</p>
                        <div class="mt-4">
                            <div class="services-icon float-left">
                                <i class="pe-7s-target"></i>
                            </div>

                            <h5 class="mt-4 pt-2 pl-5 f-18">We want creative team for my business</h5>
                        </div>
                        <p class="text-muted mt-4 mb-0">Creative team provides your business with brand value and speedy growth</p>

                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="services-box mt-4">
                        <p class="text-muted f-20">06.</p>
                        <div class="mt-4">
                            <div class="services-icon float-left">
                                <i class="pe-7s-headphones"></i>
                            </div>

                            <h5 class="mt-4 pt-2 pl-5 f-18">I want financial advice</h5>
                        </div>
                        <p class="text-muted mt-4 mb-0">I am connected with specialized chain of Bankers and CA that can help in financial and legal aspects</p>

                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- END SERVICES -->
    


  
    <style>
        /* Add margin-bottom to create a gap between sections */
        .bg-cta {
            margin-bottom: 20px; /* Adjust the value to set the desired gap size */
        }
    </style>
    
    <!-- START CTA -->
    <section class="bg-cta">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box text-center">
                        <h3>Schedule an Appointment with Me</h3>
                        <p class="mt-4">Let's Explore Our Interests and Support Each Other</p>
                        <div class="mt-4 pt-2">
                            <a href="https://topmate.io/sarthak_mittal_ceo" class="btn btn-custom btn-rounded">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- START CONTACT -->
    <section class="section" id="contact">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="title-heading text-center">
                        <h3>Contact Us</h3>
                        <div class="title-border"></div>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-lg-4">

                    <div class="contact-content mt-4">
                        <div class="mt-4 pt-1">
                            <div class="contact-icon float-left mt-1 pr-4">
                                <i class="pe-7s-phone"></i>
                            </div>

                            <div class="contact-info">
                                <p class="f-16 mb-0">Phone Number</p>
                                <p class="text-muted mb-0">+91 9302566264</p>
                            </div>
                        </div>

                        <div class="mt-4 pt-1">
                            <div class="contact-icon float-left mt-1 pr-4">
                                <i class="pe-7s-mail"></i>
                            </div>

                            <div class="contact-info">
                                <p class="f-16 mb-0">Email Address</p>
                                <p class="text-muted mb-0">mittalsarthak863@gmail.com</p>
                            </div>
                        </div>

                        <div class="mt-4 pt-1">
                            <div class="contact-icon float-left mt-1 pr-4">
                                <i class="pe-7s-map-marker"></i>
                            </div>

                            <div class="contact-info">
                                <p class="f-16 mb-0">Office Location</p>
                                <p class="text-muted mb-0">338, Shivaji Nagar Indore</p>
                            </div>
                        </div>

                        <div class="mt-4 pt-1">
                            <div class="contact-icon float-left mt-1 pr-4">
                                <i class="pe-7s-date"></i>
                            </div>

                            <div class="contact-info">
                                <p class="f-16 mb-0">Email Time</p>
                                <p class="text-muted mb-0">Mon - Fri 09:00 - 7:00</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="custom-form mt-4">
                        <div id="message"></div>
                        <form method="post" action="https://themesdesign.in/readxon/layouts/php/contact.php" name="contact-form" id="contact-form">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mt-3">
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mt-3">
                                        <input name="email" id="email" type="text" class="form-control" placeholder="E-mail Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-3">
                                        <input name="subject" id="subject" type="text" class="form-control" placeholder="Subject">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-3">
                                        <textarea name="comments" id="comments" rows="5" class="form-control" placeholder="Messages"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mt-3">
                                        <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom btn-round" value="Send Message">
                                        <div id="simple-msg"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END CONTECT -->

    <!-- START FOOTER -->
    <section class="bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                 

                    <p class="text-muted mt-4">sarthakmittal.me</p>
                    <p class="text-white f-20">9302566264</p>
                </div>

             
       

          

                <div class="col-lg-3">
                    <div class="footer-contant">
                        <h6 class="footer-title">Our Address</h6>
                        <p class="text-muted mt-4">338,Shivaji Nagar Indore,
                            <br/>India 452004</p>

                        <div class="mt-4">
                            <ul class="list-inline footer-social">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/indore.jewellery.9" class="rounded-circle">
                                        <i class="mdi mdi-facebook"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="https://twitter.com/home" class="rounded-circle">
                                        <i class="mdi mdi-twitter"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/sarthak-microsoft/" class="rounded-circle">
                                        <i class="mdi mdi-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-5">
                <p class="footer-alt mb-0">© 2023 Sarthak Mittal </p>

            </div>
        </div>
    </section>
    <!-- END FOOTER -->

    <!-- javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrollspy.min.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!-- contact -->
    <script src="js/contact.init.js"></script>
    <script src="js/jquery.mb.YTPlayer.js"></script>
    <!--Partical js-->
    <script src="js/particles.js"></script>
    <script src="js/particles.app.js"></script>
    <!-- Main Js -->
    <script src="js/app.js"></script>

</body>



</html>